<div class="modal fade" id="modalAddTopic" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modalCenteredLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenteredLabel">话题标签</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <p>每篇文章最多添加5个话题</p>
                <div class="form-floating mb-3">
                    <input required placeholder="标题" id="account_email" name="account_email"
                           type="email"
                           class="form-control">
                    <label for="account_email">多个话题之间使用空格分开</label>
                </div>
                <p>最近话题</p>
                <div>
                    <span class="badge bg-secondary-soft p-xl-2">#Primary</span>
                    <span class="badge bg-secondary-soft p-xl-2">#Primary</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    取消
                </button>
            </div>
        </div>
    </div>
</div>


<script>

</script>